body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
}

.calculadora {
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}

.output {
  width: 100%;
  height: 50px;
  font-size: 30px;
  text-align: right;
  margin-bottom: 10px;
  border: none;
  border-bottom: 2px solid #ccc;
  background-color: #f9f9f9;
  padding: 5px;
  box-sizing: border-box;
  color: #444;
}

.botones {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

button {
  width: 100%;
  height: 50px;
  font-size: 20px;
  background-color: #eee;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
}

button:hover {
  background-color: #ddd;
}

button.operador {
  background-color: #f1c40f;
  color: #fff;
}